#spinner,
.img_loader {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#spinner,
.progress {
  display: block;
  background-color: #fff;
}
#spinner {
  position: fixed;
  z-index: 100;
  opacity: 0.4;
  background-repeat: no-repeat;
  background-position: center;
}
.img_loader {
  position: absolute;
  margin: auto;
}
.progress {
  position: relative;
  height: 2px;
  width: 100%;
  border-radius: 2px;
  background-clip: padding-box;
  overflow: hidden;
}
.progress .indeterminate {
  background-color: #000;
}
.progress .indeterminate:after,
.progress .indeterminate:before {
  content: "";
  position: absolute;
  background-color: #2c67b1;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
}
.progress .indeterminate:before {
  -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395)
    infinite;
  animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}
.progress .indeterminate:after {
  -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1)
    infinite;
  animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1)
    infinite;
  -webkit-animation-delay: 1.15s;
  animation-delay: 1.15s;
}
@-webkit-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  100%,
  60% {
    left: 100%;
    right: -90%;
  }
}
@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  100%,
  60% {
    left: 100%;
    right: -90%;
  }
}
@-webkit-keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  100%,
  60% {
    left: 107%;
    right: -8%;
  }
}
@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  100%,
  60% {
    left: 107%;
    right: -8%;
  }
}
